<div class="row" style="margin-top: 10px; margin-left: 8px">
  <div class="col-xl-7">
    <!-- Search Site Part -->
    <div class="row">
      <div class="col-xl-12">
        <div class="row" style="margin-top: 2px">
          <div class="col-xl-3 close_col_gap">
            <h4>Region</h4>
            <select
              class="reg_sel"
              (change)="onRegionSelect($event)"
              style="width: 100px; height: 30px"
            >
              <option selected disabled>Region</option>
              <option *ngFor="let reg of region_options" [value]="reg">
                {{ reg }}
              </option>
            </select>
          </div>
          <div class="col-xl-3" style="margin-top: 18px">
            <input
              type="text"
              #titleInput
              class="form-control"
              [value]="selected_node"
            />
            <h6>Example : W0410-MWN-ER-T1-JED</h6>
          </div>
          <div class="col-xl-2" style="margin-top: 18px; max-width: 15%">
            <button
              mat-raised-button
              color="primary"
              (click)="showGraph(titleInput.value)"
            >
              Search
            </button>
          </div>
          <div class="col-xl-2 close_col_gap">
            <h4>Topology type</h4>
            <select
              placeholder="Step By Step"
              (change)="graphNatureChange($event)"
              style="width: 130px; height: 30px"
            >
              <option value="step">Step By Step</option>
              <option value="no_step">Full Graph</option>
            </select>
          </div>
          <div class="col-xl-2" style="margin-top: 18px">
            <img
              src="assets/reload.png"
              alt=""
              srcset=""
              style="width: 40px; cursor: pointer"
              (click)="reload_page()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Utilization and PM data panel -->
<div class="row">
  <div class="col-xl-12">
    <mat-expansion-panel
      (opened)="this.dataService.panelOpenState = true"
      (closed)="this.dataService.panelOpenState = false"
      [expanded]="this.dataService.panelOpenState"
    >
      <mat-expansion-panel-header>
        <mat-panel-title style="color: black">
          Utilization & PM Data
          <span
            style="margin-left: 500px; color: rgb(88, 88, 226)"
            *ngIf="this.dataService.loading_utilization"
            >Loading . . .</span
          >
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- this.dataService.panel_current_view_data | json -->
      <div class="exp-body">
        <div class="row">
          <div class="col-xl-12">
            <table>
              <tr>
                <th>No.</th>
                <th>Source</th>
                <th>Interface</th>
                <th>Time</th>
                <th>Capacity</th>
                <th>Utilization Avg(%)</th>
                <th>Utilization Max(%)</th>
                <th>Target</th>
                <th>Bandwidth</th>
                <th>Utilization(%)</th>
                <th>Inbound(%)</th>
                <th>Outbound(%)</th>
              </tr>
              <tr
                *ngFor="
                  let item of this.dataService.panel_current_view_data;
                  let i = index
                "
              >
                <td>{{ i + 1 }}</td>
                <td>{{ item.source }}</td>
                <td>{{ item.interface.replace("GigabitEthernet", "") }}</td>
                <td>{{ item.time }}</td>
                <td>{{ item.capacity }}</td>
                <td>{{ checkNumber(item.utilization_avg) }}</td>
                <td>{{ checkNumber(item.utilization_max) }}</td>
                <td>{{ item.target.replace("GigabitEthernet", "") }}</td>
                <td>{{ item.bandwidth }}</td>
                <td>
                  <span [ngClass]="getUtilizationColor(item.utilization)">{{
                    checkNumber(item.utilization)
                  }}</span>
                </td>
                <td>{{ checkNumber(item.inbound) }}</td>
                <td>{{ checkNumber(item.outbound) }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<!-- <app-optional-graph></app-optional-graph> -->
<button mat-raised-button (click)="mapToggle()" style="margin: 10px">
  {{ this.show_map_label }}
</button>
<button
  mat-raised-button
  (click)="showAlarmGraph('alarm')"
  style="margin: 10px"
>
  {{ this.alarm_graph_btn_label }}
</button>
<agm-map
  *ngIf="this.show_map"
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  (mapClick)="mapClicked($event)"
  [fitBounds]="true"
>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    [agmFitBounds]="true"
    (dragEnd)="markerDragEnd(m, $event)"
    modelsbyref="false"
  >
    <agm-info-window style="width: 80px">
      {{ map_site_list_label }}
      <hr />
      <div
        class="node-map"
        (click)="mapNodeClicked(node)"
        *ngFor="let node of node_array_map"
      >
        {{ node }}
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
<app-d3-graph-text-node [graph_data]="graph_data"></app-d3-graph-text-node>
