<div class="row" style="margin-top: 10px; margin-left: 8px">
  <div class="col-xl-5">
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-xl-8">
            <h1>Topology Explorer</h1>
          </div>
          <div class="col-xl-4">
            <mat-spinner *ngIf="show_loading" diameter="30"></mat-spinner>
          </div>
        </div>

        <!-- <select (change)="graphChange($event)">
              <option value="d3-3d-graph-text">D3 3D Graph Text Node</option>
              <option value="ngx-forced">ngx-graph forced directed</option>
              <option value="d3-3d-graph-bubble">D3 3D Graph Bubble</option></select
            ><br /><br /> -->
      </div>
      <!-- Voice Data select for msc topology -->
      <!-- <div class="col-xl-4">
        <div class="row">
          <div class="col-xl-6">
            <h3>Voice/Data :</h3>
            <div class="select">
              <select
                name="format"
                id="format"
                #op1
                (change)="on_option_select(op1.value)"
              >
                <option selected="selected" disabled="disabled">
                  Select Option
                </option>
                <option value="Voice">Voice</option>
                <option value="Data">Data</option>
              </select>
            </div>
          </div>
          <div class="col-xl-6">
            <h3>Type :</h3>
            <div class="select">
              <select name="format" id="format">
                <option selected="selected" disabled="disabled">
                  Select Option
                </option>
                <option *ngFor="let op of option" [value]="op">
                  {{ op }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-xl-6">
        <h3>Choose a topology type</h3>
        <select placeholder="Step By Step" (change)="graphNatureChange($event)">
          <option value="step">Step By Step</option>
          <option value="no_step">Full Graph</option>
        </select>
      </div>
    </div>
    <!-- Region select part -->
    <div class="row" style="margin-left: 5px">
      <div class="col-xl-3 padding_0">
        <h4>Region</h4>
        <select
          class="reg_sel"
          (change)="onRegionSelect($event)"
          style="width: 100px; height: 30px"
        >
          <option selected disabled>Region</option>
          <option value="Centeral">Centeral</option>
          <option value="Eastern">Eastern</option>
          <option value="North">North</option>
          <option value="West">West</option>
        </select>
      </div>
      <div class="col-xl-3 padding_0">
        <h4>City</h4>
        <select
          class="reg_sel"
          (change)="onCitySelect($event)"
          style="width: 100px; height: 30px"
        >
          <option selected disabled>City</option>
          <option *ngFor="let city of city_options" [value]="city">
            {{ city }}
          </option>
        </select>
      </div>
      <div class="col-xl-3 padding_0">
        <h4>Data Center</h4>
        <select
          class="reg_sel"
          (change)="onDataCenterSelect($event)"
          style="width: 100px; height: 30px"
        >
          <option selected disabled>Center</option>
          <option *ngFor="let center of center_options" [value]="center">
            {{ center }}
          </option>
        </select>
      </div>
      <div class="col-xl-3 px-0">
        <h4>Node</h4>
        <select
          class="reg_sel"
          (change)="onNodeSelect($event)"
          style="width: 160px; height: 30px"
        >
          <option selected disabled>Node</option>
          <option *ngFor="let node of node_options" [value]="node">
            {{ node }}
          </option>
        </select>
      </div>
    </div>
    <!-- Search Site Part -->
    <div class="row">
      <div class="col-xl-6">
        <div class="row" style="margin-top: 10px">
          <div class="col-xl-9">
            <input
              type="text"
              #titleInput
              class="form-control"
              [value]="selected_node"
            />
            <h6>Example : WR-7080-TN01</h6>
          </div>
          <div class="col-xl-3">
            <button
              mat-raised-button
              color="primary"
              (click)="showGraph(titleInput.value)"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-7">
    <mat-expansion-panel
      (opened)="this.dataService.panelOpenState = true"
      (closed)="this.dataService.panelOpenState = false"
      [expanded]="this.dataService.panelOpenState"
    >
      <mat-expansion-panel-header>
        <mat-panel-title style="color: black"> Utilization </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- this.dataService.panel_current_view_data | json -->
      <div class="exp-body">
        <table>
          <tr>
            <th>No.</th>
            <th>Source</th>
            <th>Interface</th>
            <th>Time</th>
            <th>Capacity</th>
            <th>Utilization Avg</th>
            <th>Utilization Max</th>
            <th>Target</th>
          </tr>
          <tr
            *ngFor="
              let item of this.dataService.panel_current_view_data;
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ item.source }}</td>
            <td>{{ item.interface }}</td>
            <td>{{ item.time }}</td>
            <td>{{ item.capacity }}</td>
            <td>{{ item.utilization_avg | number: "1.0-2" }}%</td>
            <td>{{ item.utilization_max | number: "1.0-2" }}%</td>
            <td>{{ item.target }}</td>
          </tr>
        </table>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<!-- <app-optional-graph></app-optional-graph> -->
<div>
  <app-ngx-graph-fd
    *ngIf="graph_type == 'ngx-forced'"
    [graph_data]="graph_data"
  ></app-ngx-graph-fd>

  <app-d3-graph-bubble
    *ngIf="graph_type == 'd3-3d-graph-bubble'"
    [graph_data]="graph_data"
  ></app-d3-graph-bubble>
  <app-d3-graph-text-node
    *ngIf="graph_type == 'd3-3d-graph-text'"
    [graph_data]="graph_data"
  ></app-d3-graph-text-node>
</div>
