<div class="jumbotron text-center">
  <h3>Search a site name:</h3>
  <h5>Example: WR-7080-TN01</h5>
</div>
<div class="container">
  <div class="form-group">
    <label for="usr">Node Name:</label>
    <input type="text" #titleInput class="form-control" />
  </div>
  <br />
  <select (change)="graphChange($event)">
    <option value="ngx-forced">ngx-graph forced directed</option>
    <option value="d3-3d-graph-bubble">D3 3D Graph Bubble</option>
    <option value="d3-3d-graph-text">D3 3D Graph Text Node</option></select
  ><br /><br />
  <button
    type="button"
    (click)="showGraph(titleInput.value)"
    class="btn btn-primary"
  >
    Search
  </button>

  <app-ngx-graph-fd
    *ngIf="graph_type == 'ngx-forced'"
    [graph_data]="graph_data"
  ></app-ngx-graph-fd>

  <app-d3-graph-bubble
    *ngIf="graph_type == 'd3-3d-graph-bubble'"
    [graph_data]="graph_data"
  ></app-d3-graph-bubble>
  <app-d3-graph-text-node
    *ngIf="graph_type == 'd3-3d-graph-text'"
    [graph_data]="graph_data"
  ></app-d3-graph-text-node>
</div>
